<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Billionaries Insight</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="./static/node_modules/datamaps/dist/datamaps.world.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Billionaries Insight</h1>
            <div id="map_bombs" style="position: relative; width: 1000px; height: 600px;"></div>
        </div>
        <script src="./static/js/main.js"></script>
    </body>
</html>